# Assignment 3
### Due 9/21. Do four of five.

In [1]:
import urllib.request
import os

def download_data(force=False):
    """Download and extract course data from Zenodo."""
    import urllib.request
    import zipfile
    import os
    
    zip_path = 'data.zip'
    data_dir = 'data'
    
    if not os.path.exists(zip_path) or force:
        print("Downloading course data...")
        urllib.request.urlretrieve(
            'https://zenodo.org/records/16954427/files/data.zip?download=1',
            zip_path
        )
        print("Download complete")
    
    if not os.path.exists(data_dir):
        print("Extracting data files...")
        with zipfile.ZipFile(zip_path, 'r') as zip_ref:
            zip_ref.extractall(data_dir)
        print("Data extracted")
    
    return data_dir

download_data()

'data'

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

1. 
- Open the NHANES (or Ames prices or college completion datasets, if you prefer)
- Find two categorical variables of interest (there are 198, and short descriptions are given in the `nhanes_meta_17_18.csv` file). Investigate their missing values (you don't have to focus on missing values for this analysis like we did with police use of force, but always be aware of how dirty the data are)
- Compute a contingency table for your categorical $X$ and $Y$
- Discuss any interesting patterns (or lack of one) that you observe

In [22]:
NHANES = pd.read_csv('./data/nhanes_data_17_18.csv')
NHANES

C:\Users\shawn\AppData\Local\Temp\ipykernel_16832\1946773738.py:1: DtypeWarning: Columns (142) have mixed types. Specify dtype option on import or set low_memory=False.
  NHANES = pd.read_csv('./data/nhanes_data_17_18.csv')

,SEQN,GeneralHealthCondition,EverBreastfedOrFedBreastmilk,AgeStoppedBreastfeedingdays,AgeFirstFedFormuladays,AgeStoppedReceivingFormuladays,AgeStartedOtherFoodbeverage,AgeFirstFedMilkdays,TypeOfMilkFirstFedWholeMilk,TypeOfMilkFirstFed2Milk,...,DaysSmokedCigsDuringPast30Days,AvgCigarettesdayDuringPast30Days,TriedToQuitSmoking,TimesStoppedSmokingCigarettes,HowLongWereYouAbleToStopSmoking,UnitOfMeasureDayweekmonthyear_2_SMQ,CurrentSelfreportedHeightInches,CurrentSelfreportedWeightPounds,TriedToLoseWeightInPastYear,TimesLost10LbsOrMoreToLoseWeight
0,93703.0,NaN,1.0,273.0,1.0,365.0,152.0,365.0,Whole or regular milk,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,93704.0,NaN,1.0,60.0,3.0,365.0,126.0,365.0,Whole or regular milk,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,93705.0,Good,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,63.0,165.0,0.0,11 times or more
3,93706.0,Very good,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,68.0,145.0,0.0,Never
4,93707.0,Good,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8361,102952.0,Very good,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,117.0,0.0,Never
8362,102953.0,Fair or,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,65.0,218.0,0.0,Never
8363,102954.0,Good,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,66.0,150.0,0.0,Never
8364,102955.0,Very good,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8365,102956.0,Good,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,30.0,20.0,1.0,1.0,2.0,Days,69.0,250.0,0.0,1 to 2

In [23]:
NHANES['smoke_na'] = NHANES['SmokedTobaccoLast5Days'].isna()
NHANES['smoke_na'].value_counts()

smoke_na
False    5953
True     2413
Name: count, dtype: int64

In [24]:
NHANES['GeneralHealthCondition'].value_counts()

GeneralHealthCondition
Good         2454
Very good    1544
Fair or      1175
Excellent     619
Poor?         172
Name: count, dtype: int64

In [25]:
pd.crosstab(NHANES['smoke_na'], NHANES['GeneralHealthCondition'])

GeneralHealthCondition  Excellent  Fair or  Good  Poor?  Very good
smoke_na
False                         618     1174  2446    172       1538
True                            1        1     8      0          6

In [27]:
pd.crosstab(NHANES['smoke_na'], NHANES['GeneralHealthCondition'], normalize='columns')

GeneralHealthCondition  Excellent   Fair or     Good  Poor?  Very good
smoke_na
False                    0.998384  0.999149  0.99674    1.0   0.996114
True                     0.001616  0.000851  0.00326    0.0   0.003886

In [28]:
NHANES.loc[:,['smoke_na','GeneralHealthCondition']].groupby('GeneralHealthCondition').mean()

                        smoke_na
GeneralHealthCondition
Excellent               0.001616
Fair or                 0.000851
Good                    0.003260
Poor?                   0.000000
Very good               0.003886

The missingness in English instructions is not random but concentrated in certain modules. For example, sections like BMX, BPX, and DR2TOT are fully missing, while modules like DPQ and SLQ have mostly complete instructions. This shows that some survey domains are consistently well documented, while others lack clarity, which could affect how easily those variables can be used in analysis.

2. 
- Open the NHANES dataset
- Find a categorical and numeric variable of interest (there are 198, and short descriptions are given in the `nhanes_meta_17_18.csv` file). Investigate their missing values (you don't have to focus on missing values for this analysis, but always be aware of them)
- Make descriptive tables and grouped kernel density plots to represent the variation in your numeric $Y$ conditional on your categorical $X$
- Discuss any interesting patterns (or lack of one) that you observe

In [18]:
NHANES = pd.read_csv('./data/nhanes_meta_17_18.csv')
NHANES.head()

,VariableNameLong,Variable,Type,Format,Informat,Label,Source,VariableName,SASLabel,EnglishText,Target,VariableNameLong_variable_df,Source_variable_df,EnglishInstructions,HardEdits,Recoded,CustomRecoding,nNonNA
0,GeneralHealthCondition,HSD010,Numeric,NaN,NaN,General health condition,HSQ,HSD010,General health condition,Next I have some general questions about {your...,Both males and females 12 YEARS -\n\n\t\t\t15...,GeneralHealthCondition,HSQ,NaN,NaN,True,NaN,5964.0
1,EverBreastfedOrFedBreastmilk,DBQ010,Numeric,NaN,NaN,Ever breastfed or fed breastmilk,DBQ,DBQ010,Ever breastfed or fed breastmilk,Now I'm going to ask you some general question...,Both males and females 0 YEARS -\n\n\t\t\t6 Y...,EverBreastfedOrFedBreastmilk,DBQ,NaN,NaN,True,YesNo,1069.0
2,AgeStoppedBreastfeedingdays,DBD030,Numeric,NaN,NaN,Age stopped breastfeeding(days),DBQ,DBD030,Age stopped breastfeeding(days),How old was {SP} when {he/she} completely stop...,Both males and females 0 YEARS -\n\n\t\t\t6 Y...,AgeStoppedBreastfeedingdays,DBQ,NaN,NaN,False,NaN,862.0
3,AgeFirstFedFormuladays,DBD041,Numeric,NaN,NaN,Age first fed formula(days),DBQ,DBD041,Age first fed formula(days),How old was {SP} when {he/she} was first fed f...,Both males and females 0 YEARS -\n\n\t\t\t6 Y...,AgeFirstFedFormuladays,DBQ,NaN,NaN,False,NaN,1077.0
4,AgeStoppedReceivingFormuladays,DBD050,Numeric,NaN,NaN,Age stopped receiving formula(days),DBQ,DBD050,Age stopped receiving formula(days),How old was {SP} when {he/she} completely stop...,Both males and females 0 YEARS -\n\n\t\t\t6 Y...,AgeStoppedReceivingFormuladays,DBQ,NaN,NaN,False,NaN,891.0

3. 
We showed that the mean and median could be discovered by minimizing various kinds of loss functions; this is what machine learning is. To make a prediction $\hat{y}(z)$ of $Y$ when $X=z$, minimize the mean squared error:
$$
MSE(\hat{y}(z)) = \dfrac{1}{N} \sum_{i=1}^N \left\lbrace y_i - \hat{y}(z) \right\rbrace^2 \frac{1}{h}k\left(\frac{z-x_i}{h}\right)
$$
Show that the solution to this problem is the LCLS/Naradaya-Watson estimator.

### Problem 3

We want to find the prediction $\hat{y}(z)$ of $Y$ when $X=z$ by minimizing the weighted mean squared error:

$$
MSE(\hat{y}(z)) = \frac{1}{N} \sum_{i=1}^N \left( y_i - \hat{y}(z) \right)^2 \cdot \frac{1}{h}k\!\left(\frac{z-x_i}{h}\right).
$$

#### Step 1: Define weights
Let
$$
w_i(z) = \frac{1}{h}k\!\left(\frac{z-x_i}{h}\right).
$$
Then
$$
MSE(\hat{y}(z)) = \frac{1}{N}\sum_{i=1}^N \big(y_i - \hat{y}(z)\big)^2 w_i(z).
$$


#### Step 2: Differentiate with respect to $\hat{y}(z)$
$$
\frac{d}{d\hat{y}(z)} MSE(\hat{y}(z))
= \frac{1}{N}\sum_{i=1}^N 2\big(\hat{y}(z) - y_i\big) w_i(z).
$$

Set derivative to zero:

$$
\sum_{i=1}^N \big(\hat{y}(z) - y_i\big) w_i(z) = 0.
$$


#### Step 3: Solve for $\hat{y}(z)$
$$
\hat{y}(z)\sum_{i=1}^N w_i(z) = \sum_{i=1}^N w_i(z)y_i.
$$

So
$$
\hat{y}(z) = \frac{\sum_{i=1}^N w_i(z)y_i}{\sum_{i=1}^N w_i(z)}.
$$


#### Step 4: Recognize the estimator
Substituting back $w_i(z)=\tfrac{1}{h}k\!\left(\frac{z-x_i}{h}\right)$ gives:

$$
\hat{y}(z) = \frac{\sum_{i=1}^N K_h(z-x_i)\, y_i}{\sum_{i=1}^N K_h(z-x_i)},
$$

where $K_h(u)=\tfrac{1}{h}k(u/h)$.



This is exactly the Nadaraya–Watson estimator, also known as the Local Constant Least Squares (LCLS) estimator.

4. 
- Write a class or set of functions that implement the LCLS/Naradaya-Watson estimator, using the Silverman plug-in estimate for the conditioning variable $X$ as the bandwidth.
- From one of the course data sets, find two numeric variables of interest, analyze their relationship with the the LCLS/Naradaya-Watson estimator, and discuss your results.

5. 
- In any of the available data sets, investigate the relationships between pairs of variables $(X,Y)$ with a scatterplot and CEF (for example, price on area)
- Is this relationship plausibly causal, or are there missing variables that might explain at least part of the relationship between your variables? These can be "conceptual" rather than "practical"; for example, 'talent' or 'grit' probably explain education outcomes, but are almost impossible to measure. We are asking whether there are hypothetical **threats to causal identification** of the effect of $X$ on $Y$.
- Explain how, regardless of the threat to causal identification, you can still use your model to predict $Y$ given $X$, as long as you don't intervene in the system to control the outcome